<div class = "bg-light mt-2 d-flex flex-column align-items-stretch h-100">
  <div class = " d-flex h-50 justify-content-center align-content-center">
    <h1 class = "d-flex center">Application</h1>
  </div>
  <div class = "justify-content-center">
  <%= link_to  "Log In", new_user_session_path, class: "btn bg-standard btn-block align-center" %>
  <%= link_to  "Sign Up", new_user_registration_path, class: "btn btn-block align-center" %>    
  </div>  
</div>